// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'


body
  background:#d2d2d2

a
    text-decoration:none
    color:#004dab

.transparent
  background: transparent !important

#application
  background:white

.headline
  font-size:18px !important
  font-weight:500

.bg-light
  background-color:#f3f3f3

.v-dialog
  background-color:white !important
  border:1px solid #dfdfdf !important


.image
  height:100%
  weidth:100%

.v-alert
    border-radius: 0;
    border-width: 0px !important;
    background-color:#f4f4fb

.text-muted
  color:#808080

.title
  letter-spacing: 30px

.title-2
  font-size:16px !important

.v-sheet
  background-color:transparent !important

.bg-white
  background: white !important
  background-color: white !important

.image
  width:100%
  height:100%
  object-fit: cover;

.inner-border::-webkit-scrollbar
   display: none


.border-top
  border-top:1px solid #dfdfdf !important

.border-bottom
  border-bottom:1px solid #dfdfdf !important

.height-mid
  height:34px

.v-toolbar__content
    padding: 0 16px !important


.toolbar-search
  border:2px solid #b5b5b5
  border-radius: 4px;
  padding:1px

  .v-input__control
    min-height: 40px !important;

  .v-input__slot
    margin-bottom: 0px
    background-color:#fdfdfd !important




.footer
  border-top:1px solid #dfdfdf
